form {
    width: 300px;
    margin: 20px auto;
    font-family: "Red Hat Display";
}
input[type=text], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-height: 65px;
}
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-height: 65px;
}
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    max-height: 65px;
}
input[type=submit] {
    width: 100%;
    background-color: #2B2B2B;
    outline: 2px solid #05AEAF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #05AEAF;
    outline: 2px solid #2B2B2B;
}
.row {
    padding: 0;
    margin: 0;
}