.seguridad-section {
    position: relative;
    height: 100vh;
}
.seguridad-section::before {
    content: "";
    background-image: url("../../../images/diseño12.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.seccion-puerta-seg .col-md-4{
    width: 325px;
}
.seccion-puerta-seg .design{
    background-color: #3A4040;
    border-top-left-radius: 400px;
    border-top-right-radius: 400px;
    color: white;
    min-height: 650px;
    text-align: center;
}